
.idea/
.idea/workspace.xml
.idea/workspace.xml
.idea/jsLibraryMappings.xml
public/images/uploaded_files/
public/images/*
node_modules/

*.JPG

*.jpg

*.svg

*.jpg

*.svg

public/images/фтшьфешщт.svg

public/images/test2.jpg
