header ul li {
    height: 64px;
    line-height: 70px;
    width: 100%;
}

nav {
    height: 100px !important;
}


header {
    padding-left: 240px;
}

.line-height-100 {
    line-height: 100px !important;
}

.title {
    font-size: 22px;
    line-height: 100px;
}

.logo {
    height: 120px;
    line-height: 120px;
}

main {
    padding-left: 240px;
    padding-top: 20px;
}

.card-image {
    height: 140px;
}

.card.medium {
    height: 380px !important;
}

#interiors_place, #project_place{
    padding-top: 20px;
}

.active {
    color: #40c4ff !important;
}

.button-up {
    bottom: 45px !important;
    left: 264px !important;
}

.margin-top-30 {  margin-top: 30px;  }

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
    .button-up {
        left: 24px !important;
    }
}