header ul li {
    height: 64px;
    line-height: 70px;
    width: 100%;
}

nav {
    height: 100px !important;
}


header {
    padding-left: 240px;
}

.line-height-100 {
    line-height: 100px !important;
}

.title {
    font-size: 22px;
    line-height: 100px;
}

.logo {
    height: 120px;
    line-height: 120px;
}

main {
    padding-left: 240px;
    padding-top: 20px;
}

.card-image {
    height: 200px;
}

.card .card-title {
    font-size: 20px !important;
}

.design {
    height: 380px !important;
}

.card-content{
    overflow-y: auto !important;
}

.card .card-action{
    padding: 15px !important;
}

#interiors_place, #project_place{
    padding-top: 20px;
}

.tabs .indicator {
    background-color: #40c4ff !important;
}

.button-up {
    bottom: 45px !important;
    right: inherit !important;
    left: 264px !important;
}

.margin-20 { margin: 20px 0;}
.margin-50 { margin: 50px 0;}
.margin-50 { margin: 50px auto;}
.margin-top-30 {  margin-top: 30px;  }
.padding-top-20 { padding-top: 20px; }

.btn-flat i{
    font-size: 2rem !important;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
    .button-up {
        left: 24px !important;
    }
}