<div class="navbar-fixed">
    <nav class="white opacity">
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse padding-left-15"><i class="material-icons">menu</i></a>
            <div class="center">
                <ul class="hide-on-med-and-down">
                    <li class="activeCustom"><a class="waves-effect waves-light" href="#">ГЛАВНАЯ</a></li>
                    <li><a class="waves-effect waves-light" href="#">ПРОЕКТЫ</a></li>
                    <li><a class="waves-effect waves-light" href="#">ЦЕНЫ</a></li>
                    <li><a class="waves-effect waves-light"href="#">ДОГОВОРЫ</a></li>
                </ul>
            </div>
            <ul class="side-nav" id="mobile-demo">
                <li class="activeCustom"><a href="#">Главная</a></li>
                <li><a href="#">Проекты</a></li>
                <li><a href="#">Цены</a></li>
                <li><a href="#">Договоры</a></li>
            </ul>
        </div>
    </nav>
</div>