<div class="navbar-fixed">
    <nav class="z-depth-0">
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse padding-left-15"><i class="material-icons">menu</i></a>
            <div class="right">
                <ul class="hide-on-med-and-down">
                    <li><a class="waves-effect waves-light activeCustom" href="#">ГЛАВНАЯ</a></li>
                    <li><a class="waves-effect waves-light" href="/projects">ПРОЕКТЫ</a></li>
                    <li><a class="waves-effect waves-light"href="/design">ИНТЕРЬЕРЫ</a></li>
                    <li><a class="waves-effect waves-light"href="/landscapes">ЛАНДШАФТЫ</a></li>
                    <li><a class="waves-effect waves-light" href="#">ЦЕНЫ</a></li>
                </ul>
            </div>
            <ul class="side-nav" id="mobile-demo">
                <li class="activeCustom"><a href="#">Главная</a></li>
                <li><a href="projects">Проекты</a></li>
                <li><a href="#">Цены</a></li>
                <li><a href="#">Договоры</a></li>
            </ul>
        </div>
    </nav>
</div>